/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .main {
  width: 580px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .main .searchBx {
  position: relative;
  width: 100%;
}
section .main .searchBx .query {
  width: 100%;
  padding: 13px;
  outline: none;
  font-size: 16px;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 1px 3px 9px #ccc;
  border: 1px solid #ccc;
}
section .main .searchBx .icons {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  align-items: center;
  pointer-events: none;
}
section .main .icons img {
  max-width: 100%;
}

.searchByn:hover {
  border: 1px solid #ccc;
}
.cre_language .languages {
  display: flex;
  margin-top: 30px;
}
.cre_language .languages li {
  list-style: none;
  margin: 0 5px;
  font-size: 15px;
}
.cre_language .languages li a {
  text-decoration: none;
  color: #1a0dab;
}
.cre_language .languages li a:hover {
  text-decoration: underline;
}

.result_search {
  width: 100%;
  background-color: #ccc;
}
.result_search li {
  list-style: none;
  padding: 5px;
}
.style {
  display: flex;
}
